:root {
  --color-white: #f0f0f0;
  --color-white-bg: #fff;
  --color-black: #000;
  --color-light-black: #172337;
  --color-brand-orange: #fb641b;
  --color-brand-blue: #2874f0;
  --color-brand-bbd: #2455f4;
  --color-brand-footer: #172337;
  --color-brand-blue-lighter: #7accff;
  --color-brand-blue-lighter1: #dfeafd;
  --color-blue-lighter1: #b3d7ff;
  --color-primary-yellow: #ffe11b;
  --color-yellow-grade1: #fff7e1;
  --color-yellow-grade2: #fef8e0;
  --color-purple: #5f4eeb;
  --color-offer-green: #388e3c;
  --color-green-grade0: #26a541;
  --color-green-grade1: #e9f2e9;
  --color-green-grade2: #e6f4e8;
  --color-green-grade3: #e6f3e6;
  --color-green-grade4: #008c00;
  --color-yellowish-orange: #ff9f00;
  --color-flash-green: #11c29b;
  --color-error-red: #ff6161;
  --color-error-red2: #ff4343;
  --color-error-red3: #ffeaed;
  --color-error-red4: #dd5354;
  --color-error-red5: #d23276;
  --color-error-red6: #e4001e;
  --color-grey-grade0: #fafafa;
  --color-grey-grade1: #f0f0f0;
  --color-grey-grade2: #e0e0e0;
  --color-grey-grade3: #c2c2c2;
  --color-grey-grade4: #878787;
  --color-grey-grade5: #212121;
  --color-grey-grade6: #d7d7d7;
  --color-grey-grade7: #f9f9f9;
  --color-grey-grade8: #9e9e9e;
  --color-grey-grade9: #efefef;
  --color-grey-grade10: #f5f5f5;
  --color-grey-grade11: #aaa;
  --color-grey-grade12: #dbdbdb;
  --color-grey-grade13: #fbfbfb;
  --color-grey-grade14: #666;
  --color-grey-grade15: #f8f8f8;
  --color-grey-grade16: #eee;
  --color-grey-grade17: #9b9b9b;
  --color-grey-grade18: #686868;
  --color-grey-grade19: #eaeaea;
  --color-grey-grade20: #e6e6e6;
  --color-error-bg: #fff7f8;
  --color-info-bg: #ffffe6;
  --color-info-light-bg: #fffbf6;
  --color-page-bg: #f1f3f6;
  --color-green-bg: #f7fffa;
  --color-blue-bg: #f5faff;
  --color-vip-black-bg: #343c4e;
  --color-grey-badge: #717171;
  --color-grey-light: #d3d3d3;
  --color-vendor-text: #3f3f3f;
  --color-supermart-green: #26a541;
  --color-dark-blue1: #1d6ded;
  --color-light-blue: #f4f8ff;
  --color-light-blue1: #bed5fa;
  --color-light-blue2: #93b7f1;
  --color-suparmart-fk-background: #258b3b;
  --color-info-yellow: #fffdec;
  --color-cobranded-footer-blue: #005387;
  --color-pre-book-purple: #854987;
  --color-light-pink: #fff0ff;
  --color-light-orange: #fdf5e7;
  --color-orange-bg: #fff7e1;
  --color-bright-orange: #e79900;
  --color-payment-orange: #ffc200;
  --color-wishlist-red: #ff4343;
  --color-light-green: #e7f8ec;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
input {
  outline: none;
  border: none;
}

.f-14 {
  font-size: 14px;
  font-weight: 500;
}

/* Header Start */
header {
  background-color: var(--color-brand-blue);
  padding: 0.7rem 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.brand-logo img {
  width: 75px;
  height: 20px;
}
.brand-container {
  display: flex;
}
.nav-link {
  display: flex;
  flex-direction: column;
}
.brand-link {
  display: flex;
  flex-direction: column;
}
.brand-plus {
  font-size: 10px;
  font-style: italic;
  color: var(--color-white);
}
.brand-plus img {
  width: 10px;
  height: 10px;
}
.text-plus {
  color: #ffe500;
}
.search-box {
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-left: 1rem;
}
.search-box input {
  width: 500px;
}
.search-box i {
  color: var(--color-brand-blue);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item {
  margin: 0 1.2rem;
}
.nav-item .fa-chevron-down {
  font-size: 10px;
}
.section-2 .category-section img {
  height: 128px;
}
.product-item:hover {
  color: var(--color-brand-blue);
}
.login-link {
  color: var(--color-brand-blue);
  background: white;
  padding: 0.4rem 2.5rem;
  display: inline-block;
}
.nav-item {
  color: white;
  font-size: 1rem;
}
/* Header End */
/* Product item start*/
.product-category {
  display: flex;
  justify-content: space-between;
  margin: 1rem 7rem;
}
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-item img {
  width: 64px;
  height: 64px;
}
/* Product item end */
/* Deal-section-start */
.deal-heading {
  display: flex;
  justify-content: space-between;
}
.deal-heading h2 {
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 7px;
}
.view-all {
  display: inline-block;
  background: var(--color-brand-blue);
  color: white;
  padding: 10px 20px;
  font-size: 13px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
/* Deal-section-end */
/* Crousel start*/
.crousel-container {
  height: auto;
  width: 100%;
  min-height: 280px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.crousel {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.crousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.next,
.prev {
  z-index: 5;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
}
.prev {
  border-radius: 0 2px 2px 0;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 2px 0px 0px 2px;
}
.btn-crousel {
  background: white;
  outline: none;
  border: none;
  height: 100px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-57%);
}
.btn-crousel i {
  font-size: 2rem;
}

/* Crousel End */
/* Category Section Start */
.category-container {
  background: var(--color-page-bg);
  padding: 0.5rem;
}
.category-container section {
  background: white;
}
.category-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding: 2rem 1rem;
}
.category-section p {
  text-align: center;
}
.category-section img {
  width: 150px;
  height: 86px;
}
.text-black {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  color: black;
}
.text-discount {
  color: #388e3c;
  padding-top: 8px;
}
.text-gray {
  color: #7a7a7a;
}
.view-all {
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: box-shadow 0.2s ease;
  border-radius: 2px;
  height: fit-content;
}
.category-head {
  display: flex;
  border-bottom: 1px solid #ececec;
  padding: 1rem 1rem;
  justify-content: space-between;
  border-radius: 2px;
}
.category-head .header {
  font-size: 1.4rem;
  font-weight: 500;
}
.mar-top {
  margin-top: 10px;
}
/* Category Section End */
/* Footer Section Start */
footer {
  background: #172337;
  padding: 3rem 0;
}
.footer-nav-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.5fr 1.5fr;
  padding: 0 3.5rem;
  gap: 2rem;
}
.footer-nav-links a {
  font-size: 12px;
  color: white;
}
.footer-nav-links a {
  display: inline-block;
  margin-bottom: 5px;
}
.footer-flex {
  display: flex;
  flex-direction: column;
}
.footer-head {
  margin-bottom: 15px;
}
.seller-option {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  padding-top: 1rem;
}
.seller-option a {
  color: white;
}
.seller-option span {
  color: white;
}
.footer-nav-links .text-dark {
  color: #878787;
}
.footer-head .text-dark {
  color: #878787;
}
.text-white {
  color: white;
}
.f-12 {
  font-size: 12px;
}
hr {
  height: 1px;
  /* color: #ececec; */
  margin: 35px 0;
  border: none;
  width: 100%;
  background: #454d5e;
}
/* Footer Section End */
/* Modal Start */
.modal-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.modal {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 700px;
  margin: 0 auto;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal h2,
.modal p {
  color: white;
}
.modal-section-1 {
  background: var(--color-brand-blue);

  padding: 4rem 2rem;
}
.modal-section-2 {
  padding: 4rem 2rem;
  background: white;
}
input {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
.form-input {
  border-bottom: 1px solid #ececec;
  margin-bottom: 2rem;
}
.form-element {
  display: flex;
}
.btn-login {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 15px;
}
.btn-otp {
  border: none;
  line-height: 180%;
  text-align: center;
  color: #2874f0;
  background-color: #fff;
  margin-top: 16px;
  width: 100%;
  height: 48px;
  font-size: 15px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
.brand-blue {
  color: #2874f0;
}
.create-account {
  color: #2874f0;
  font-weight: 500;
  text-align: center;
}
.modal-section-2 .terms-of-use {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
}
.create-account-container {
  text-align: center;
  margin-top: 2.5rem;
}
form .text-or {
  text-align: center;
  color: #878787;
}
.modal-img {
  margin-top: 8rem;
}

/* Modal End */
/* Directory Section Start */
.directory {
  padding: 1.5rem;
}
.dir-head {
  font-size: 14px;
  margin-bottom: 10px;
  color: #878787;
  font-weight: bold;
}
.dir-content {
  line-height: 16px;
  font-size: 11px;
  color: #878787;
}
.product-display {
  display: flex;
  gap: 11px;
  margin: 0.5rem 0;
}
.product-display img {
  width: 493px;
  height: 264px;
}
/* Directory Section End */
